nav {
    background-color: #744FC6;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Passion One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vollkorn', serif;
}

a:visited {
    color: hotpink;
}

h1 {
    text-align: center;
    background-color: black;
    font-family: 'Grechen Fuemen', cursive;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Passion One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vollkorn', serif;
    font-family: 'Vujahday Script', cursive;
}

.fancy-h1 {
    color: #00A1E4;
    font-family: 'Grechen Fuemen', cursive;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Passion One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vollkorn', serif;
    font-family: 'Vujahday Script', cursive;
}

h2 {
    text-align: center;
    font-family: 'Grechen Fuemen', cursive;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Passion One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vollkorn', serif;
    font-family: 'Vujahday Script', cursive;
}

img {
    margin: 2em;
}

#posts {
    margin: auto;
    font-family: 'Gluten', cursive;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Passion One', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Vollkorn', serif;
}