* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Nanum Myeongjo', serif;
}
body {
    margin: 0;
}
nav {
    background: #E9D6EC;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.logo {
    font-size: 1.5em;
    padding: .2em 0 .2em 0;
    font-weight: bold;
    align-items: center;
    margin-right: 2em;
}

nav a {
    text-decoration: none;
    color: darkmagenta;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    color: hotpink;
    background: pink;
}

.left{
    padding-left: 1em;
}
.right{
    padding-right: 1em;
}

.searchBar {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1em;
}

.center{
    flex-grow: 1;
    text-align: center;
}
